* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 16px auto;
}
body{
    background-color: #f2f2f2;
}
.wrapper{
    width: 700px;
    height: 1000px;
    /* border: 1px solid black; */
    background-color: #D99E6A;
    border-radius: 20px;
}
h1{
    text-align: center;
    padding-top: 32px;
}
.inputs{
    margin:24px auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.get-ans{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
box{
    display: block;
    min-width: 40px;
    min-height: 40px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    /* border-radius: 10px; */
    margin: 0.1em;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgb(193,193,192);
    /* padding: 1em; */
    font-size: 1.5em;
    text-align: center;

}