* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin: 16px auto; */
}
body{
    background-color: #025159;
    font-family: 'Offside', cursive;
}
.num{
    display: block;
    text-align: center;
    font-size: 3em;
    width: 100%;

}
.wrapper{
    width: 60%;

    /* height: 100%; */
    /* border: 1px solid black; */
    background-color:#7ab8bf;
    border-radius: 20px;
    margin:auto;
    padding: 1px;
}
h1{
    text-align: center;
    padding-top: 32px;
    font-size: 64px;
    letter-spacing: 5px;
    color: white;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.inputs{
    margin:24px auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.get-ans{
    width: 60%;
    height: 64px;
    border-radius: 5px;
    border: none;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.check-btn{
    width: 20%;
    border-radius: 5px;
    background-color:white;
    color: black;
    font-size: 32px;
    border: none;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Offside', cursive;

}

.box{
    width:13%;
    height: 130px;
    border-radius: 16px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    background-color:#c4eef2;
    display: flex;
    justify-content: center;
    align-items: center;


}
.boxes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-evenly;
}

.start-btn{
    font-size: 32px;
    padding: 16px;
    width: 20%;
    margin:30px auto;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    font-family: 'Offside', cursive;
    display:block;
}